.back-btn a{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    font-family:'Roboto',sans-serif;
    text-align: center;
    transition: all 0.2s;
}

.back-btn a:hover {
    color:#000000;
    background-color: white;
}

.country-info-block {
    margin-left: 20px;
    margin-top: 35px;
}

.country-info-block-img {
    overflow: hidden;
}

.country-info-block-img img{
    display: inline-block;
    height: 400px;
    width: 600px
}

@media screen and (max-width: 630px) {
    .country-info-block-img img {
        height: auto;
        max-width: 100%;
    }
}