.App {
  text-align: center;
}

.app-wrapper {
  margin: 0;
  padding: 0;
  background: #222020;
  height: 100%;
  background-image: url('../../img/map_world.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-wrapper a{
  color: white;
}