.country-search-form {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

.form-input {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.form-btn {
    margin-top: 10px;
    /*margin-left: -240px;!**!*/
    background-color: white;
    border: 0.1em solid #FFFFFF;
    font-weight: bold;
    font-family:'Roboto',sans-serif;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
}

.form-btn:hover {
    color: white;
    background-color: black;
}
